.MuiButton-root.btn-primary {


    background-color: #1f2937;
    color: white;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    box-shadow: none !important;
}

.MuiButton-root.btn-secondary {
    background-color: #dfe8f5;
    color: #1f2937;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

    box-shadow: none !important;
}